* {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Kdam Thmor Pro', sans-serif;
}


h1 {
    text-align: center;
    margin: 50px;
}

.gandalf {
    margin: 100px;
}

.gandalfs-spell {
    text-align: center;
    border: ;
}

.gandalfs-staff {
    background-color: rgb(255, 255, 255);
    margin: 100px;
    padding: 10px;
    max-width: 1000px;
    font-size: 18px;
    margin: 0 auto;
    box-shadow: 5px 5px 10px black;
}

.the-bridge {
    text-align: center;
}

#did-you-pass {
    margin-top: 10px;
    width: 700px;
    height: auto;
    font-size: 30px;
    border-style:dotted;
    border-width: 5px;
    border-color: rgb(121, 100, 100);
    background-color: whitesmoke;
    box-shadow: 10px 10px 20px rgb(128, 117, 117);
    border-radius: 10px;
    overflow: hidden;
}

textarea {
    text-align: center;
}

.hobbits {
    margin-top: 20px;
    width: 350px;
    font-size: 25px;
    font-weight: bolder;
    background-color: red;
    color: white;
    border-radius: 20px;
    margin-left: 32%;
    border: solid black 5px;
}

.hobbits:hover {
   cursor: pointer;
    
}

.hobbits::after{
    content: ""
}

.balrog-here {
    margin-top: 100px;
}


